<tr>
  <%- if with_destination %>
  <td><%= link_to v1_url_generator_path(tracked_link.destination_link), v1_url_generator_path(tracked_link.destination_link) %></td>
  <% end %>
  <td><%= link_to v1_short_link_url(tracked_link.tracked_url), v1_short_link_url(tracked_link.tracked_url) %></td>
  <td><%= tracked_link.visits_count %></td>
  <td><%= I18n.l(tracked_link.created_at) %></td>
  <td><%= link_to 'Details', v1_tracked_link_details_path(tracked_link.tracked_url) %></td>
  <%- unless with_destination %>
  <td></td>
  <% end %>
</tr>